.App {
  height: 100%;
  min-height: 105vh;
  margin-top: 15px;
  padding-bottom: 75px;
}

.App a:hover {
  text-decoration: none;
}

.App .card {
  background-color: #423E37;
}

.App .navbar {
  border: none;
  background-color: rgba(66, 62, 55, .5);
}

.App .nav-tabs {
  border-bottom: none;
}

.App a:hover {
  color: #C4BBBA;
}

.App .navbar-brand {
  font-family: 'Trade Winds', cursive;
  text-shadow: 1px 1px 2px black, 0 0 5px #C4BBBA, 0 0 5px #423E37;
  font-size: xx-large;
  font-weight: bold;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb a {
  color: #A39594;
}

.breadcrumb-item {
  font-size: large;
  font-family: 'Bebas Neue', cursive;
  color: #A39594;
}
.breadcrumb-item.active {
  color: #FFF268 !important;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.radioactive {
  color: #FFF268;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.full-length {
  height: 100vh;
}

.center {
  margin: auto;
  text-align: center;
}
.align-middle {
  margin-top: 30vh;
}

.min-padding {
  padding-bottom: min(10rem);
}

.spanish-gray {
  color: #A39594;
}

.Aladin {
  font-family: 'Aladin', cursive;
}

.Gotu {
  font-family: 'Gotu', sans-serif;
}

.Black-Ops {
  font-family: 'Black Ops One', cursive;
}

.Cormorant-Garamond {
  font-family: 'Cormorant Garamond', serif;
}
